.Completed-Popup {
	background-color: #121213;
	border: 1px solid #3a3a3c;
	border-radius: 10px;
	color: #fff;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 320px;
}

.Row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
}

.Column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	width: 20%;
}

.Completed-Popup h3 {
	margin-top: 0;
}

.Completed-Popup p {
	margin: 0;
}

.Completed-Popup .Value {
	font-size: 28px;
}

.Completed-Popup .Label {
	margin-bottom: 5px;
	font-size: 12px;
	width: 100%;
}

.Share-Btn {
	background-color: #538d4e;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
}

.Share-Btn p {
	margin-left: 10px;
	color: #fff;
	font-size: 24px;
}

.Completed-Popup .Next-Worteen-Label {
	margin: 0;
	margin-top: 20px;
}

.Completed-Popup .No-Margin {
	margin-bottom: 0;
}

.Completed-Popup .Next-Worteen-Timer {
	font-size: 28px;
}

.Toast {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 20%);
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
}

.Toast p {
	color: #121213;
	font-size: 18px;
	margin: 0;
}

.Close-Btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.Close-Btn FaWindowClose {
	background-color: #121213;
}