.Instructions-Popup {
	background-color: #121213;
	border: 1px solid #3a3a3c;
	border-radius: 10px;
	color: #fff;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 450px;
}

.Close-Btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.Close-Btn FaWindowClose {
	background-color: #121213;
}

.Instructions hr {
	color: #3a3a3c;
	opacity: 25%;
}

@media only screen and (max-width: 600px) {
	.Instructions-Popup {
		width: 80%;
	}
}