body {
  background-color: #121213;
}

.App {
  text-align: center;
}

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px #777 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  position: absolute;
}

.Header svg {
  margin-left: auto;
  margin-right: 30px;
  cursor: pointer;
}

.Header h1 {
  color: #fff;
  margin: 0;
}

.Details-Container {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  left: 50%;
  transform: translate(-50%, 160px);
}

.Completion-Toast {
	background-color: #fff;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -240px);
	border-radius: 2px;
}

.Completion-Toast h4 {
	color: #121213;
	font-size: 18px;
	margin: 0;
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  opacity: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Completed-Popup {
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Instructions-Popup {
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}